.sources {
  position: -webkit-sticky;
  position: sticky;
  background: #17181c;
  z-index: 2;
  top: 10px;
  width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  font: 300 1em 'Fira Sans', sans-serif;
}

.source__item {
  background: none;
  border: 2px solid #30c5ff;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  color: #70d6ff;
  transition: 0.25s;
  cursor: pointer;
}

.source__item:hover,
.source__item:focus {
  border-color: #3fcc59;
  color: #69db7e;
  box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
  transform: translateY(-0.25em);
}

.source__item-name {
  font-weight: 400;
  white-space: nowrap;
}
@media screen and (max-width: 1024px) {
  .sources {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 300px;
    width: 100%;
    border: 2px solid #3fcc59;
    margin-bottom: 20px;
  }
}
